.search__input {
  width: 40%;
}
.search_bar {
  box-shadow: 0px 5px 10px 2px gainsboro;
  background-color: #fff;
}
.input-group {
    right: 20px;
}
.input-group > .form-control,
.input-group > .form-file,
.input-group > .form-select {
  height: 50px;
}
.shop__icons span{
    margin-right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}
.shop__icon1{
    position: relative;
}
.product__count{
    position: absolute;
    color: #fff;
    background-color: goldenrod;
    font-size: .5rem !important;
    right: -5px;
    bottom: 0;
    border-radius: 50%;
    padding: .1rem .3rem;
}
.shop__icon2{
    position: relative;
}
.product__like{
    position: absolute;
    color: #fff;
    background-color: goldenrod;
    font-size: .5rem !important;
    right: -3px;
    bottom: 0;
    border-radius: 50%;
    padding: .1rem .3rem;
}
