.payment__title {
    color: black !important;
  }
  .payment__card {
    position: relative;
  }
  .payment__card__before {
    position: absolute;
    content: "";
    width: 2rem;
    height: 3rem;
    top: -0.9rem;
    left: 45.5rem;
    transform: rotate(45deg);
    background: #fff;
  }
  .custom__border__right{
      border-right: 1px solid #c8c9ca;
      padding-right: 3rem;
  }
  .amount__info{
      border-bottom: 1px dashed gray;
  }
  .due{
      font-weight: bold;
      font-size: 1.2rem;
  }
  .user__details{
      border: 1px dashed gray;
      margin-top: 1.8rem;
      padding: 1rem;
      border-radius: 5px;
  }
  .text-bold{
    font-weight: bold;  
  }
  .form-check-input:checked {
    background-color: goldenrod !important;
    border-color: goldenrod !important;
}
.form-check-label{
    font-weight: 500;
}
.ReactModal__Overlay{
    background-color: #fffffff3 !important;
}
.ReactModal__Content{
    background-color: transparent !important;
    border: none !important;
}


/* Media Q************* */
@media (max-width: 1024px) { 
  .payment__card__before {
    left: 40.4rem; 
}
   }

   @media (max-width: 768px) { 
    .payment__card__before {
      left: 32.4rem; 
  }
  }
  @media (max-width: 380px) { 
    .payment__card__before {
      left: 16rem;
  }
  }